<form name='editContacPerson'>

<label for='firstName'>First Name</label>
<input type='text' id='firstName' ng-model='contactPerson.firstname' ng-maxlength="50">

<label for='surname'>Surname</label>
<input type='text' id='surname' name='surname' ng-model='contactPerson.firstname' ng-required="true" ng-maxlength="50">

<span class="error" ng-show="editContacPerson.surname.$error.maxlength">
       Too long!</span>

<label for='email'>Email</label>
<input type='email' id='email' name='email' ng-model='contactPerson.firstname' ng-email>

 <span class="error" ng-show="editContacPerson.email.$error.email">
        Not a valid email!</span>

</form>